config/gcp-creds.json

# Ignore DVC cache
.dvc/cache
*.lock
.dvcignore

logs/

artifacts/model/
artifacts/model_checkpoints/
artifacts/raw/

# Ignore Python cache
__pycache__/
*.pyc

src/

pipeline/training_pipeline.py

venv/

Anime_Recommender.egg-info/
# Ignore notebooks if not needed
*.ipynb

LICENSE

README.md

# Ignore git
.git
.gitignore
