# Ignore DVC cache
.dvc/
*.lock
.dvcignore

Jenkinsfile



logs/

artifacts/raw.dvc
artifacts/model
artifacts/processed/X_test_array.pkl
artifacts/processed/y_test.pkl
artifacts/processed/X_train_array.pkl
artifacts/processed/y_train.pkl
artifacts/model_checkpoints/
artifacts/raw/

# Ignore Python cache
__pycache__/
*.pyc

src/

pipeline/training_pipeline.py

venv/

Anime_Recommender.egg-info/

# Ignore notebooks if not needed
notebook/

LICENSE

README.md

# Ignore git
.git
*.gitignore